# GW ALIAS FILE (2022)

# ----------------------------------------------------------------------------
# CHANGE IN CERTAIN DIRS
# ----------------------------------------------------------------------------
alias bin='cd ~/.bin'
alias dok='cd ~/Dokumente'
alias dow='cd ~/Downloads'
alias dev='cd ~/Dokumente/develop'
alias junk='cd ~/Junk'
alias mus='cd ~/Musik'
alias vid='cd ~/Videos'

# ----------------------------------------------------------------------------
# DOCKER STUFF
# ----------------------------------------------------------------------------
alias dcpsa='docker ps -a'
alias dcclean='docker volume prune -f & docker network prune -f'
alias dcclear='docker volume prune -f & docker network prune -f & docker rmi $(docker images -qa)'
alias dcr='dcdn && dcupd && dclf'

# ----------------------------------------------------------------------------
# CLI SHORTENERS
# ----------------------------------------------------------------------------
alias del='rm -fr'
alias e="exit"
alias erase='shred -uvf'
alias f='find . -name '
alias fg='find | grep -i'
alias h='history'
alias hg='history | grep'
alias jena="curl -H 'Accept-Language: de' http://wttr.in/jena"
alias leipzig="curl -H 'Accept-Language: de' http://wttr.in/leipzig"
alias kps='killall pipenv shell'
alias lsd="ls -lah --group-directories-first"
alias proc='ps aux | grep '
alias rb="reboot"
alias sd="poweroff"
alias t="tmux"
alias tt="trash"
alias v="nvim"
alias vim="nvim"
alias wiki="nvim /home/gw/Dokumente/vimwiki/index.md"
# alias x='startx'

# ----------------------------------------------------------------------------
# PYTHON (Fasapi)
# ----------------------------------------------------------------------------
alias fdm='fastapi dev main.py'

# ----------------------------------------------------------------------------
# PYTHON (DJANGO UVICORN) STUFF
# ----------------------------------------------------------------------------
alias pin='touch __init__.py'
alias pipi='pip install'
alias pipup='pip install --upgrade pip'
alias pm='python manage.py'
alias pmm='python manage.py migrate'
alias pmmm='python manage.py makemigrations'
alias pmr='python manage.py runserver'
alias pv='python -m venv .venv'
alias pybug='python -m pdb'
alias sv='source .venv/bin/activate'
# alias uc='uvicorn main:app --reload'
# alias uva='uvicorn app.main:app --reload'

# ----------------------------------------------------------------------------
# HTML WEBDEV
# ----------------------------------------------------------------------------
# alias lr='livereload -p8000'

# ----------------------------------------------------------------------------
# Music
# ----------------------------------------------------------------------------
alias mus_r1='mpv http://radioeins.de/stream'

alias fzf='fzf --preview 'bat --style=numbers --color=always --line-range :500 {}''
alias fzfe='nvim $(fzf --preview="bat --color=always {}")'
